{% extends "basic.html" %}


{% block content %}
    <h1 style="text-align: center;">RGB to Gray scale convertion</h1>

    <div style="align-items: center;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <div style="width: 35%; border: 1px solid #000; float: left; margin: 2%; margin-left: 8%; padding: 2%;">
        <img src="{{ current_img.img.url }}" style="width: 100%;">
    </div>
    
    <div style="width: 35%; border: 1px solid #000; float: right; margin: 2%; margin-right: 8%; padding: 2%;">
        <img src="{{ current_img.gray.url }}" style="width: 100%;">
    </div>

{% endblock %}